* {
    padding: 0;
}
body {
    color: rgba(255, 255, 255, 0.904);
    font-family:'Baloo Tamma 2', cursive;    
    background-color: #0c132c;
    background-image: url("https://www.kingcodes.dev/Fylo-data-storage-component/images/bg-mobile.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out .3s;
    height: 100vh;
    width: 100vw;
    
}

p {
    font-weight: 400;
    color: azure;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35% auto;
    transition: ease-in-out .3s;
}

.icon-container {
    background-color: #1e2c68;
    width: 70%;
    height: 90%;
    margin-bottom: 1rem;
    padding: 2.2rem;
    border-radius: .5rem;
    border-top-right-radius: 50%;
    transition: ease-in-out .3s;
}

.icons {
    margin-top: 1rem;
}

.icons div {
    display: inline-block;
    background-color: #0c132c;
    padding: .6rem;
    border-radius: .5rem;
    margin-right: 1rem;
}

.used-space {
    height: 90%;
    width: 70%;
    background-color:#1e2c68;
    padding: 2.2rem;
    text-align: center;
    border-radius: .5rem;
    position: relative;
    transition: ease-in-out .3s;
    
}

.usage-meter {
    width: 100%;
    height: 1rem;
    background-color: #0c132c;
    border-radius: .9rem;
    margin: .5rem 0;
    padding: .2rem;
}

.fill {
    background:linear-gradient(to right,#f7ad72,#f32066fd);
    width: 80%;
    height: 100%;
    border-radius: .9rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.fill div {
    float: right;
    width: 6%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    margin: auto 1%;
    transition: ease-in-out .3s;
}
.meter-empty {
    float: left;
    font-size: .8rem;
    font-weight: 600;
}

.meter-full {
    float: right;
    font-size: .8rem;
    font-weight: 600;
}

.remaining-space {
    background-color: white;
    color: rgb(99, 99, 99);
    padding: 0.3rem 1.5rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    position: absolute;
    right: 28%;
    bottom: -30%;
}

span {
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 2%;
  }

  .attribution a {
    color: #687dd4;
  }

  @media only screen and (min-width: 700px) {
    body {
        background-image: url("https://www.kingcodes.dev/Fylo-data-storage-component/images/bg-desktop.png");
        background-position: center bottom;
        transition: ease-in-out .3s;
    } 
    .container {
          flex-direction: row;
          padding: 0 10%;
          margin: 20% auto;
          transition: ease-in-out .3s;
      }

      .icon-container {
          margin-right: 5%;
          width: 40%;
          transition: ease-in-out .3s;
      }

      .used-space {
          width: 50%;
          text-align: left;
          transition: ease-in-out .3s;
      }

      .remaining-space {
        position: absolute;
        right: 10%;
        bottom: 70%;
        transition: ease-in-out .3s;
    }

    .fill div {
        width: 3%;
        transition: ease-in-out .3s;
    }
  }